.p3{
    background-color:steelblue;
    text-align: center;
    margin: 10px 490px 10px 490px;
    border-radius: 5px;
}
.divracismo{
    font-size: 150px;
    text-align:center;
    color: steelblue;
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;}
.pai{
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    place-items: center;
    display: grid;
    margin: 5px 100px 5px 100px;
    padding:0px 5px 0px 5px;
}
.pai:hover,
.p3:hover{
    transition: 1s;
    background-color: steelblue;
}
 @media (max-width: 700px) {
            .divracismo {
                font-size: 80px; /* Ajusta o tamanho da fonte para telas menores */
            }
            #pracismo {
                font-size: 18px;
                margin: 5px 20px; /* Reduz as margens para telas menores */
            }
            .pai {
                margin: 0 10px; /* Ajusta as margens para telas menores */
            }

}
